@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import './theme.css';

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

* {
  box-sizing: border-box;
}


.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.flex-1 {
  flex: 1;
}

.flex-col {
  flex-direction: column;
}

.min-h-0 {
  min-height: 0;
}

.overflow-auto {
  overflow: auto;
}

.bg-gray-50 {
  background-color: #F9FAFB; 
}

.p-6 {
  padding: 1.5rem; 
}

